<%- include("./public/header.html")%>
    <div class="ibox-content">
        <form method="post" action="add" class="form-horizontal">
            <div class="row">
                <div class="form-group has-success">
                    <label class="col-sm-2 control-label">输入要添加的类型名称</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="categoryName">
                    </div>
                </div>
            </div>



            <button class="btn btn-success  dim" type="submit"><i class="fa fa-upload"></i>
            </button>
        </form>
    </div>

    <%- include("./public/footer.html")%>